.footer-container {
  &__progress {
    height: 1.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    &--bar {
      height: 100%;
      width: 0%;
      background: $indianred;
      background: linear-gradient(150deg, rgba(133, 27, 27, 1) 0%, rgba(205, 92, 92, 1) 50%, rgba(233, 150, 122, 1) 100%);
    }
  }

  &__top {
    position: fixed;
    right: 40px;
    bottom: 4%;
    display: none;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 50px;
    }
  }
}