$silver: #C0C0C0;
$indianred: #CD5C5C;
$salmon: #FA8072;
$lightsalmon: #FFA07A;
$darksalmon: #E9967A;
$content-color: #2c3e50;

@import "~flexboxgrid-sass";

$flexboxgrid-breakpoints:
  sm 760px,
  md 1200px,
  lg 1600px;


$mobile: "only screen and (max-width : 750px)";
$tablet: "only screen and (max-width : 1399px)";
$desktop: "only screen and (min-width : 1400px)";

.inline-block {
	display: inline-block;
}

.invisible-scrollbar::-webkit-scrollbar {
	display: none;
}
