.sidebar-left {
	padding: 10px;
 
	&__title {
		text-align: right;
		@media #{$mobile} {
			text-align: center;
		}

		img {
			width: 300px;
		}
	}

	&__menu {
		@media #{$mobile} {
			display: none;
		}

		margin-top: 30px;
    line-height: 40px;
    padding: 0 15px;
    text-align: right;

    span {
    	font-size: 24px;
    	font-weight: 900;
    }

    img {
    	margin-bottom: -3px;
    }
	}
}

.sidebar-left-mobile {
	display: none;
	@media #{$mobile} {
		display: block;
	}

	background-color: $darkdarkred;
	width: 0;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity .35s, visibility .35s, width .35s;
  overflow: hidden;
  z-index: 50;

  &.open {
    opacity: 1;
    visibility: visible;
    width: 75vw;

    .fade-in-left {
			animation: fadeInLeft .5s ease forwards;
	    animation-delay: .2s;
    }
  }

  &__menu {
  	opacity: 0;
		text-align: left;
		margin-top: 100px;
		line-height: 35px;

		span {
			font-size: 24px;
			font-weight: 900;
		}

		img {
			margin-bottom: -3px;
		}
	}
}

.selected {
	span {
		color: $lightsalmon;
	}

	img {
		display: -webkit-inline-box;
	}

}

.not-selected {
	span {
    color: $silver;

    &:hover {
    	color: $lightsalmon;
    	cursor: pointer;
    }
	}

  img {
  	display: none;
  }

}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    padding-left: 0;
  }
  100% {
    opacity: 1;
    padding-left: 25vw;
  }
}