.sidebar-left {
	padding: 10px;
	@media #{$mobile} {
		padding-top: 25px;
	}

	&__title {
		text-align: right;
		@media #{$mobile} {
			text-align: center;
		}

		img {
			width: 300px;
		}
	}

	&__menu {
		margin-top: 30px;
    line-height: 40px;
    padding: 0 15px;
    text-align: right;

    @media #{$mobile} {
    	height: 30px;
	    overflow-y: scroll;
	    text-align: center;
	    margin-top: 15px;
    }

    span {
    	font-size: 24px;
    	font-weight: 900;
    }

    img {
    	margin-bottom: -3px;
    }
	}

	.selected {
		span {
			color: $lightsalmon;
		}

		img {
			display: -webkit-inline-box;
		}

	}

	.not-selected {
		span {
	    color: $silver;

	    &:hover {
	    	color: $lightsalmon;
	    	cursor: pointer;
	    }
		}

    img {
    	display: none;
    }

	}
}